.header {
    display: flex;
    justify-content: space-between;
    min-height: 55px;
    text-align: center;
    background-color: rgb(39, 116, 174);
}

.header__logo {
    margin: auto 0;
    color: white;
    margin-left: 2%;
}

.header__group {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    list-style: none;
}

.header__option {
    display: flex;
    align-items: center;
    padding: 0 15px;
    font: 18px Arial;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.header__option:hover {
    background-color: white;
    color: rgb(39, 116, 174);
}

.header__user_image {
    height: 30px;
}