.center {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.profileBox {
    font: 15px "Century Gothic", Futura, sans-serif;
    margin: 4% 26% ;
}

#Yes, #No {
    display: inline-block;
    width: 300px;
    height: 40px;
}