.matchBox {
    position: fixed;
    height: 100%;
    top: 3rem;
    right: 0;
    padding: 2% 5% 0 2%;
    background-color: white;
    color:rgb(39, 116, 174);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y: scroll;
}

.matchElement {
    color: black;
    padding-top: .5rem;
}

.matchElement:hover {
    opacity: .7;
    cursor: pointer;
}