.profile {
  text-align: center;
}

.header_1 {
  padding: 2rem 1rem;
}

.profile__form {
  color: #2774AE;
  text-align: left;
  margin-left: 23%;
  margin-right: 23%;
}

.profile__form .label_1 {
  width: 50%;
  font-weight: 700;
  margin: 1rem 2rem 1rem 0;
}

.profile__form .class_headers {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.profile__form input {
  width: 100%;
}

.profile__form div div input {
  width: min-content;
}

.error {
  color: red;
  width: min-content;
}

.class label.label_1 {
  width: 20%;
}

.class input {
  width: 50%;
  margin-right: .1rem;
}

.class button {
  background-color: red; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  padding: 5px;
  border-radius: 5px;
}

.classList {
  overflow-y: scroll;
  height: 5rem;
}