.profBox {
    display: flex;
    flex-direction: column;
    width: 30vw;
    top: 0;
    margin: 2% auto;
    bottom: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-left: 4%;
    padding-right: 4%;
    min-width: 600px;
}

.profBox .profileHeader {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.userImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: 250px;
}

.profBox .infoLabel {
    display: inline-block;
    text-align: left;
    color: rgb(39, 116, 174);
    font: 22px Arial;
    font-weight: bold;
}

.profBox .info {
    font: 18px Arial;
    display: float;
    padding-left: 2px;
}

.profBox .bioStyle {
    font: 18px Arial;
}

.course {
    display: inline-block;
    margin: 0.25rem;
    border-radius: 1rem;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.10);
}

.btnStyle {
    display: block;
    font: 30px Arial;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-bottom: 5%;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: white;
    background-color: rgb(39, 116, 174);
}

.btnStyle:hover {
    background-color: rgb(255, 209, 0);
    color: black;
    transition: ease-in-out .2s;   
}